article {
  background: white;
  margin-top: -12rem;
  padding: 2em !important;
  .responsive(12,8,6);
}
h3#gaia {
  margin-top: 0;
  color: @red;
  font-family: @body;
  &:before {
    border-color: @red;
  }
}
p.gaiaSarrera {
  font-size: 1.5em;
  margin-top: 1em;
}
h1#titularra {
  color: @red;
  font-size: 7em;
}
