article {
  background: white;
  margin-top: -24rem;
  padding: 2em !important;
  position: relative;
  .responsive(12,8,6);
  &:first-child {
    margin-top: -24rem;
  }
}
.gaia {
  .responsive(12,8,6);
  padding: 1em 2em !important;
  background: white;
  margin-top: -50rem;
  h3 {
    color: @red;
    font-family: @body;
    &:before {
      background: @red;
    }
  }
}
p.gaiaSarrera {
  font-size: 1.7em;
  margin-top: 1em;
}
h1.titularra {
  color: @red;
  font-size: 4.5em;
  margin-bottom: 4rem;
  margin-top: 1rem;
  @media (min-width: @screen-sm-min) {
    font-size: 7em;
  }
  &.line:before {
    background: @red;
    width: 2em;
  }
}
p.testua {
  font-size: 1.45em;
  line-height: 1.5em;
}
p.sinadura {
  color: grey;
  font-size: 1.3em;
  font-family: @body;
  .sinadura-data {
    font-family: @light;
    font-style: italic;
  }
  &:before {
    background: grey;
  }
  @media (min-width: @screen-sm-min) {
    position: absolute;
    top: 23rem;
    left: -20rem;
    width: 19rem;
    text-align: right;
    &:before {
      position: absolute;
      right: 0;
      top: -1rem;
    }
  }
}
