body {
  font-family: @light;
  max-width: 2000px;
}

.wrap {
  .make-row();
  margin: 0;
}
.line:before {
  height: .7rem;
  background: @grey;
  margin-bottom: .7rem;
  width: 5em;
  display: block;
  content: " ";
}

@grey: #333333;
@red: #e1221a;

*::-moz-selection {
  color: white;
  background: @red;
}
*::selection {
  color: white;
  background: @red;
}
