@font-face {
  font-family: "LatoRegular";
  src: url(../fonts/lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "LatoRegular";
  src: url(../fonts/lato/Lato-RegularItalic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "LatoRegular";
  src: url(../fonts/lato/Lato-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "LatoLight";
  src: url(../fonts/lato/Lato-Light.ttf);
}
@font-face {
  font-family: "LatoSemiBold";
  src: url(../fonts/lato/Lato-Semibold.ttf);
}
@font-face {
  font-family: "PTSerif";
  src: url(../fonts/pt/PT_Serig-Web-Regular.ttf);
}
@font-face {
  font-family: "PTSerif";
  src: url(../fonts/pt/PT_Serig-Web-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "PTSerif";
  src: url(../fonts/pt/PT_Serig-Web-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "PTSerif";
  src: url(../fonts/pt/PT_Serig-Web-Bold.ttf);
  font-weight: bold;
}

@light: LatoLight;
@body: LatoRegular;
@semibold: LatoSemiBold;

@serif: PTSerif;
