footer {
  .responsive(12, 12, 12);
  text-align: center;
  padding: 4rem;
  .kredituak {
    padding: 0;
    font-size: 1.15em;
    margin: 2em auto 0 auto;
    list-style: none;
    width: 75%;
    li {
      display: inline-block;
      border-left: .1em solid grey;
      padding: 0 1em;
      margin-bottom: 1em;
      &:first-child {
        border-left: none;
      }
    }
  }
}
