header {
  height: 100vh;
  margin-bottom: 4rem;
  background-image: url('../images/azala.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  a.berria {
    display: block;
    padding: 1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
  }
}

