header {
  height: 50vh;
  margin-bottom: 4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  a.berria {
    display: block;
    padding: 1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
  }
  h1 {
    color: @red;
    background: white;
    font-size: 12rem;
    font-family: @body;
    .responsive(10,8,8);
    padding: 4rem !important;
    &.line:before {
      height: 1rem;
      background: @red;
      width: 2em;
    }
  }
}
