nav {
  font-family: @body;
  margin-bottom: 2em;
  width: 100%;
  font-size: 0;
  display: none;
  @media (min-width: @screen-sm-min) {
    display: block;
    position: fixed;
    bottom: 3rem;
  }
  a {
    color: white;
    padding: 5%;
    display: block;
    font-size: 3rem;
    span {
      background: @red;
      padding: 1rem;
    }
    @media (min-width: @screen-sm-min) {
      padding: 0;
      display: inline-block;
      width: 50%;
      &.previous {
        text-align: left;
      }
      &.next {
        text-align: right;
      }
    }
    &:hover {
      span {
        background: lighten(@red, 15%);
      }
      text-decoration: none;
      color: white;
    }
  }
}
.desaktibatua {
  pointer-events: none;
  cursor: default;
  span {
    background: #ccc;
  }
}

a.home {
  .responsive(12,8,4);
  text-align: center;
  font-size: 2em;
  color: @red;
  font-family: @body;
  border-bottom: @red .2em solid;
  padding-bottom: 1em;
}

.nagusia {
  width: auto;
  top: 0;
  right: 0;
  position: fixed;
  border-left: .3rem solid grey;
  height: 15rem;
  padding: 1rem;
  a {
    color: grey;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    &:hover {
      color: lighten(grey, 20%);
    }
    &.hemen {
      color: @red;
    }
  }
}
