nav {
  font-family: @body;
  margin-bottom: 2em;
  width: 100%;
  font-size: 0;
  display: none;
  z-index: 100;
  @media (min-width: @screen-sm-min) {
    display: block;
    position: fixed;
    bottom: 3rem;
  }
  a {
    color: white;
    padding: 5%;
    display: block;
    font-size: 3rem;
    span {
      background: @red;
      padding: 1rem;
    }
    @media (min-width: @screen-sm-min) {
      padding: 0;
      display: inline-block;
      width: 50%;
      &.previous {
        text-align: left;
      }
      &.next {
        text-align: right;
      }
    }
    &:hover {
      span {
        background: lighten(@red, 15%);
      }
      text-decoration: none;
      color: white;
    }
  }
}
.desaktibatua {
  pointer-events: none;
  cursor: default;
  span {
    background: #ccc;
  }
}

a.home {
  .responsive(12,8,4);
  text-align: center;
  font-size: 2em;
  color: @red;
  font-family: @body;
  border-bottom: @red .2em solid;
  padding-bottom: 1em;
}

.nagusia {
  width: 100%;
  position: static;
  display: inline-block;
  border: none;
  background: @red;
  height: auto;
  margin-bottom: 1rem;
  @media (min-width: @screen-sm-min) {
    background: white;
    width: auto;
    border-left: .4rem solid @red;
    top: 0;
    right: 0;
    position: fixed;
    height: 14rem;
    padding: .5rem 1rem;
  }
  @media (min-width: @screen-md-min) {
    height: 18rem;
    padding: .5rem 1.5rem;
  }
  a {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    padding: .5em;
    color: white;
    @media (min-width: @screen-sm-min) {
      color: grey;
      font-size: 1.5rem;
      display: block;
      width: 100%;
      text-align: left;
      padding: 0;
    }
    @media (min-width: @screen-md-min) {
      font-size: 2rem;
    }
    &:hover {
      color: lighten(grey, 20%);
    }
    &.hemen {
      color: @red;
      @media (max-width: @screen-xs-max) {
        color: grey;
    }
    }
  }
}
